<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>UPDATEUSER</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Edit User</h2>-->
<!--    <form th:action="@{/userUpdate}" th:object="${user}" method="post">-->
<!--        <table th:border="1">-->
<!--            <tr>-->
<!--                <td>ID:</td>-->
<!--                <td><label>-->
<!--                    <input type="number" th:field="${user.id}" readonly/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Name:</td>-->
<!--                <td><label>-->
<!--                    <input type="text" th:field="${user.name}"/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Patronim:</td>-->
<!--                <td><label>-->
<!--                    <input type="text" th:field="${user.patronim}"/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Surname:</td>-->
<!--                <td><label>-->
<!--                    <input type="text" th:field="${user.surname}"/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Age:</td>-->
<!--                <td><label>-->
<!--                    <input type="number" th:field="${user.age}"/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Email:</td>-->
<!--                <td><label>-->
<!--                    <input type="text" th:field="${user.email}"/>-->
<!--                </label></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2"><input type="submit" value="Update"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
</head>
<body>
<div th:align="center">
    <h2>Edit User</h2>
    <form th:method="PATCH" th:action="@{/admin/{id}/update(id=${user.getId()})}" th:object="${user}">
        <table th:border="2" th:cellpadding="15">
            <tr>
                <td>ID</td>
                <td><input type="number" th:field="*{id}" readonly/>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Patronim</td>
                <td><input type="text" th:field="*{patronim}"/>
                </td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><input type="text" th:field="*{surname}"/>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" th:field="*{age}"/>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"/>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password"/>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="checkbox" name="nameRole"
                           th:each="role: ${roles}"
                           th:value="${role.name}"
                           th:text="${role.name}">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Edit User"/>
    </form>
    <br>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Back"/>
    </form>
    <br>
    <form th:action="@{/logout}" method="get">
        <input type="submit" value="exit"/>
    </form>
</div>
</body>
</html>